<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%=title%></title>
    </head>
    <body>
        <header>
            <nav class="navigation">
                <ul class="navlinks">
                    <li>Home</li>
                    <li>Register</li>
                    <li>Login</li>
                    <li>Movies</li>
                </ul>
            </nav>
        </header>
        

    
